<%= form_for([@post, comment]) do |f| %>
<% if comment.errors.any? %>
        <div id="errorExplanation">
            <h2><%= pluralize(comment.errors.count, "error") %> prohibited
            this post from being saved:</h2>
            <ul>
                <% comment.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
  <p>
    <%= f.label 'Name of commenter:' %> <br />
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label 'Message:' %> <br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>